.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--size-xxs);
}

.hero__img {
  border-radius: 50%;
  border: 3px solid rgba(225, 29, 71, 0.5);
  box-shadow: 0px 0px 20px 7px rgba(225, 29, 71, 0.312);
  width: calc(var(--size-9xl) - 1rem);
  height: calc(var(--size-9xl) - 1rem);
}

.hero__subtitle {
  color: var(--clr-slate00);
  line-height: 0.9;
  font-size: var(--size-base);
}

.hero__title {
  color: var(--clr-slate400);
  padding: 3px;
  font-size: var(--size-7xl);
  letter-spacing: -0.05em;
  line-height: 0.9;
}

.hero__discription {
  max-width: 50ch;
  margin-top: var(--size-xs);
  color: var(--clr-slate600);
  font-size: var(--size-sm);
}

.hero__btn {
  margin-top: var(--size-sm);
  text-transform: capitalize;
  font-size: 1.08rem;
}

/* ! Responsive */

/* // xs */
/* // @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .hero__discription {
    font-size: var(--size-base);
  }
}

/* // md */
/* // @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .hero__title__disc {
    gap: 0.7rem;
  }
  .hero__img {
    width: 8rem;
    height: 8rem;
  }

  .hero__subtitle {
    font-size: var(--size-2xl);
  }

  .hero__title {
    font-size: var(--size-7xl);
  }

  .hero__discription {
    font-size: var(--size-lg);
  }

  .hero__btn {
    font-size: var(--size-lg);
  }

  .hero__title__disc {
    gap: 1.3rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .hero {
    gap: 0.3rem;
  }

  .hero__img {
    width: 10rem;
    height: 10rem;
  }

  .hero__subtitle {
    font-size: var(--size-3xl);
  }

  .hero__title {
    font-size: var(--size-10xl);
  }

  .hero__discription {
    margin-top: var(--size-4xl);
    font-size: var(--size-xl);
  }

  .hero__btn {
    margin-top: var(--size-xl);
    font-size: var(--size-xl);
  }

  .hero__discription {
    max-width: 65ch;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
