/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.btn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05em;
  padding: 0.5em 1em;
  border-radius: 6px;
  background-color: var(--clr-indigo);
  color: white;
  cursor: pointer;
  transition: all 0.19s ease-in-out;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 4px rgba(79, 70, 229, 0.5);
}

/* .btn::after {
  position: absolute;
  content: "";
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid red;
  border-radius: 6px;

  /* position: absolute; 
} */

.btn:hover {
  transform: translateX(-4px) translateY(-4px);
  box-shadow: 3px 3px 0px 0px white;
}

.btn:active {
  transform: scale(0.98);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.section {
  margin-top: 5rem;
}

/* ? Media Query */

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
